<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
	default-lazy-init="false">

	<!-- 子客户端参数配置 -->
	<bean id="org.ohuyo.libra.client.slave.config" class="org.ohuyo.libra.client.config.SlaveClientConfig">
		<!-- 子客户端应用代码 -->
		<property name="appCode" value="p2p" />

		<!-- 主应用使用的协议(http,https,null),如果子应用使用的协议和主应用相同时，可以不设置 -->

		<property name="masterProtocol" value="${appstore.masterProtocol}" />


		<!-- 主应用的主机名称或要 IP地址,如果子应用的主机名称或者IP地址和主应用相同时，可以不设置 -->
		

		<property name="masterHost" value="${appstore.masterHost}" />

<!-- 		<property name="masterHost" value="192.168.30.58" /> -->

<!-- 		<property name="masterHost" value="portal.rogueone.com" /> -->

		

		<!-- 主应用的端口,如果子应用的端口和主应用相同时，可以不设置 -->
		<property name="masterPort" value="8180" />

		<!-- 请求跳转的URL绝对路径,以/开头,不包含http(s)://domain部分，(例: /path/path_2/path_3) -->
		<property name="jumpUrl" value="/portal/master/jump" />

		<!-- 会话保持URL的绝对路径,以/开头,不包含http(s)://domain部分，(例: /path/path_2/path_3) -->
		<property name="keepAliveUrl" value="/portal/master/keepAlive" />

		<!-- 是否每次请求都到服务器验证登陆有效 -->
		<property name="validateAppTicketFromServerFlag" value="true" />

		<!-- 错误时候返回的页面 -->
		<property name="errorUrl" value="/slave/error.jsp" />

		<!-- filter排除的URL -->
		<property name="excludeUrls" value="/resources/,/common/,/styles/,/app/" />
	</bean>
</beans>


